@font-face {
    src: url('hamburg-serial-medium-regular.ttf');
}

/*
 * This is an adjustment of the original modena.css for a consistent dark theme.
 * Original modena.css here: https://gist.github.com/maxd/63691840fc372f22f470.
 */

/* Redefine base colors */
.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10%);

    /* text fields and table rows background */
    -fx-control-inner-background: rgb(20, 20, 20);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: rgb(0, 80, 100);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);

    /* Font for all elements */
    /* -fx-font-size: 10pt;
    -fx-font-family: "Hamburg-Serial-Medium"; */
}

/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}

.save-button .indeterminate-mark,
.save-button .mark {
    -fx-text-fill: #006400 !important;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.save-button:notset .box {
	-fx-background-color: #9b0f0f !important;
  	-fx-border-color: #9b0f0f !important;
}

.save-button:notset .indeterminate-mark,
.save-button:notset .mark {
	-fx-shape: "M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z" !important;
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.8;
}

.plugin-hub-tile-pane
{
    -fx-border-color: derive(-fx-base, 20%);
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.15), 7, 0.0, 1, 1);
}

.plugin-hub-catagory
{
    -fx-background-color: -fx-base;
    -fx-background-insets: 2 2 2 2;
    -fx-font-size: 10px;
}
.plugin-hub-catagory.focused
{
    -fx-font-color: derive(-fx-base, 10%);
}

.plugin-hub-button
{
    -fx-background-insets: 1 1 1 1;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.2), 7, 0.0 , 1, 1);
    -fx-padding: 5 25 5 25;
    -fx-background-radius: 2;
}

.v2-buttons
{
    -fx-background-radius: 0;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-background-color: rgb(55, 55, 55);
    -fx-font-size: 10px;
    -fx-text-fill: derive(-fx-base, 90%);
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    //-fx-background-image: url("save-button.jpg");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
}

.v2-buttons:hover
{
    -fx-background-color: rgb(60, 60, 60);
}

.v2-buttons:pressed:disabled
{
    -fx-background-color: rgb(45, 45, 45);
}
